@import url('https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter Variable', ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

body {
    width: 100%;
    max-width: 100vw;
    background-color: white;
}

.large-cont{
    height: auto;
}
header {
    width: 100%;
    max-width: 100vw;
    padding: 10px 40px;
    background: white;
    border-bottom: 1px solid grey;
}

header nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header nav .navlist {
    display: flex;
    list-style: none;
}

header nav .navlist li {
    padding: 14px;
}

header nav .navlist li a {
    text-decoration: none;
    font-size: 18px;
    color: black;
}

.hamburger {
    display: none;
    z-index: 5;
}

.hamburger span {
    width: 15px;
    height: 3px;
    background-color: black;
    display: block;
    margin: 5px;
}

.hamburger span:nth-child(2) {
    width: 30px;
}

.grid-cont {
    width: 100%;
    max-width: 100vw;
    /* height: 88vh; */
    display: grid;
    grid-template-columns: 2fr 3fr;
    background: white;
}

.img-container {
    display: flex;
    align-items: center;
    flex-direction: column;
    background: white;
    padding-top: 10px;
}

.img-container .img-cont {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 34vw;
    margin-top: 30px;
    padding: 6px 6px 0 6px;
    /* background: #f1f5ff; */
    flex-shrink: 1;
    /* border-radius: 20px; */
}

.img-container .img-cont img {
    width: 100%;
}

.details-cont {
    display: flex;
    flex-direction: column;
    padding-top: 30px;
    padding-left: 30px;
    padding-bottom: 44px;
    overflow-x: hidden;
    padding-right: 40px;
    background: white;
    border-left: 1px solid grey;
}

.details-cont .title {
    font-size: 20px;
    font-weight: 400;
    align-items: flex-start;
    line-height: 1.3;
    flex-shrink: 1;
}

.rating {
    font-size: 16px;
    display: flex;
    align-items: center;
    margin-top: 10px;
}

.rating span {
    padding-left: 10px;
}

.rating :nth-child(1) {
    display: flex;
    justify-content: center;
    padding-left: 0;
    padding: 1px 2px 1px 1px;
    color: white;
    background: rgb(10, 193, 10);
}

.rating :nth-child(1) img {
    width: 18px;
    padding: 1px;
    color: white;
}

.price {
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.price :nth-child(1) {
    font-size: 16px;
    color: rgb(10, 193, 10);
}

.price .rs {
    margin-top: 10px;
    font-size: 24px;
}

.price .rs img {
    width: 18px;
}

.details-cont .description .heading {
    font-size: 28px;
    font-weight: 400;
    margin-top: 10px;
}

.description .heading p{
    margin-top: 4px;
}

.heading .hastag {
    display: flex;
    font-size: 18px;
}
.heading .hastag span{
    background: #f1f5ff;
}
.heading .hastag :nth-child(2){
    margin-left: 10px;
}

.details-cont .description .text {
    margin-top: 8px;
    word-spacing: 2px;
    line-height: 1.4;
}

.details-cont .description .feature {
    margin-top: 8px;
}

.details-cont .description .feature h3 {
    font-size: 28px;
    font-weight: 400;
}

.details-cont .description .feature ul {
    padding-left: 20px;
    margin-top: 8px;
}

.btn-cont {
    margin-top: 40px;
}

.btn-cont a {
    text-decoration: none;
    background-color: #2874f0;
    /* Flipkart blue */
    color: #fff;
    /* White text */
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s ease;
}

.btn-cont :nth-child(2){
    margin-left: 16px;
}

.btn-cont a:hover {
    background-color: #1a5bbf;
}

footer{
    display: flex;
    justify-content: center; 
    align-items: center;
    width: 100%;
    max-width: 100vw;
    height: 200px;
    max-height: 400px;
    background: #333333;
}


/* responsive  */
@media screen and (max-width: 989px) {
    .img-container .img-cont{
        margin-top: 50px;
    }
}

@media screen and (max-width: 768px) {
    .grid-cont {
        display: grid;
        grid-template-columns: 1fr;
    }
    .img-container .img-cont{
        width: 40vw;
    }
    .details-cont {
        border-left: 0;
    }
    .nav-div{
        display: none;
    }
    .hamburger {
        display: block;
    }
    .img-container .img-cont{
        margin-top: 20px;
    }
}
@media screen and (max-width: 500px) {
    
    .img-container .img-cont img{
        width: 58vw;
    }
    .img-container {
        display: flex;
        justify-content: center;
        align-items: center;
        background: #f1f5ff;
    }
    .details-cont{
        padding-top: 20px;
    }
    header{
        padding: 10px 30px;
    }
}
@media screen and (max-width: 416px) {
    .details-cont{
        padding-left: 14px;
        padding-right: 10px;
    }
    header{
        padding: 10px 20px;
    }
    .details-cont .title{
        font-size: 17px;
    }
    .description .text p{
        font-size: 15px;
    }
}
@media screen and (max-width: 355px) {
    .btn-cont{
        padding: 4px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 30px;
    }
    .btn-cont a{
        width: 200px;
        font-size: 12px;
        flex-shrink: 1;
        text-align: center;
    }
}
